body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

/* Index Styles */

.Header {
    padding-left: 25px;
}

.Title {
    margin: 300px 0 25px 25px;
    text-align: left;
}

.Title h1 {
    font-size: 125px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-weight: normal;
}

.Title h2 {
    font-size: 55px;
    margin-top: 0;
    margin-left: 25px;
    font-weight: normal;
}

.Links {
    width: 20%;
    margin-left: 50px;
}

.Links ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.Links ul li a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}

.Links ul li a:visited {
    color: black;
}

.Links ul li a::after {
    content: '';
    display: block;
    padding: 1.2px;
    background-color: steelblue;
    opacity: 0;
    width: 0%;
    transition: width linear 0.15s;
}

.Links ul li a:hover::after {
    opacity: 1;
    width: 100%;
}

.Navbar {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
}

.displayNone {
    display: none;
}

.threeBars {
    position: absolute;
    top: 20px;
    right: 40px;
    height: 50px;
    width: 40px;
    z-index: 2;
}

.Bar1,
.Bar2,
.Bar3 {
    width: 100%;
    height: 5px;
    background-color: steelblue;
    margin-top: 8px;
    transition: all linear 0.2s;
}

.change1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-15px, 10px);
    background-color: white;
}

.change2 {
    opacity: 0;
}

.change3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -5px);
    background-color: white;
}

.Nav {
    position: absolute;
    display: none;
    width: 400px;
    right: 0;
    top: 0;
    height: 98.3%;
    background-color: black;
}

.Nav ul {
    padding: 0;
    margin-top: 125px;
    list-style: none;
}

.Nav ul li {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.Nav ul li a {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

.Nav ul li a:visited {
    color: white;
}

.Nav ul li a::after {
    content: '';
    display: block;
    padding: 1.2px;
    margin: 5px auto;
    background-color: steelblue;
    width: 0%;
    opacity: 0;
    transition: width linear 0.15s;
}

.Nav ul li a:hover::after {
    opacity: 1;
    width: 75px;
}

@media screen and (max-width: 1650px) {
    .Links {
        width: 25%;
    }
}

@media screen and (max-width: 1345px) {
    .Links {
        width: 30%;
    }
}

@media screen and (max-width: 1150px) {
    .Links {
        width: 35%;
    }
}

@media screen and (max-width: 1000px) {
    .Links {
        width: 40%;
    }
}

@media screen and (max-width: 900px) {
    .Header {
        padding-left: 0;
    }

    .Title h1 {
        font-size: 110px;
        margin-left: 5px;
    }

    .Title  h2 {
        font-size: 40px;
        margin-left: 15px;
    }

    .Links {
        width: 35%;
        margin-left: 45px;
    }

    .Links ul li a {
        font-size: 25px;
    }
}

@media screen and (max-width: 800px) {
    .Title h1 {
        font-size: 100px;
    }

    .Links {
        margin-left: 45px;
    }
}

@media screen and (max-width: 700px) {
    .Title h1 {
        font-size: 90px;
    }

    .Title  h2 {
        font-size: 35px;
    }

    .Links {
        width: 45%;
    }

    .Links ul li a {
        font-size: 20px;
    }
}

@media screen and (max-width: 580px) {   
    .Title h1 {
        font-size: 90px;
    }

    .Title  h2 {
        font-size: 35px;
    }

    .Links {
        width: 45%;
    }
}

@media screen and (max-width: 500px) { 
    .Title h1 {
        font-size: 70px;
        margin-left: 0px;
    }

    .Title  h2 {
        font-size: 28px;
        margin-left: 10px;
    }

    .Links {
        width: 60%;
        margin-left: 40px;
    }

    .Links ul {
        display: flex;
        flex-flow: column;
    }

    .Links ul li {
        margin-bottom: 15px;
    }

    .Links ul li a {
        font-size: 20px;
    }
}

/* Projects Styles */

.bTitle {
    font-size: 100px;
    margin-bottom: 10px;
    margin-left: 70px;
    font-weight: normal;
}

.bSubs {
    font-size: 25px;
    margin-top: 0;
    margin-left: 75px;
    margin-bottom: 50px;
    font-weight: normal;
}

.proj {
    display: block;
    text-decoration: none;
    color: black;
    background-color: #eee;
    padding-top: 10px;
    padding-left: 35px;
    border-radius: 20px;
    border-left: 10px solid steelblue;
    width: 750px;
    height: 400px;
    margin-bottom: 50px;
    margin-left: 70px;
    margin-right: 0px;
}

.proj:hover {
    background-color: steelblue;
    border-left: 10px solid rgb(161, 202, 235);
    color: white;
}

.projTitle {
    font-size: 45px;
    margin-top: 20px;
    font-weight: normal;
}

.projDescription {
    width: 85%;
    font-size: 25px;
    font-weight: normal;
}

.projUse {
    margin-top: 50px;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
}

/* Contact Styles */

.info {
    margin-left: 70px;
    margin-top: 75px;
    width: 525px;
}

.info span {
    color: steelblue;
    text-decoration: underline;
}

.info p {
    font-size: 20px;
    margin-bottom: 50px;
    width: 100%;
    line-height: 40px;
}


